*{
	margin:0;
	padding:0;
}
html,body{
	width: 100%;
	height: 100%;
	font-family: '微软雅黑';
	font-size: 62.5%;
}
.swiper-container{
	width: 100%;
	height: 100%;
}
.swiper-slide{
	overflow: hidden;
}

/*第一屏*/
.bokan1{
	width: 100%;
	background: url(../img/1-bg.jpg);
	background-size: cover;
	
}
.bokan1_img1{
	width: 54%;
	margin-left: 23%;
	margin-top:30%;
}
.bokan1_img2{
	width: 76%;
	margin-left: 12%;
	margin-top:10%;
	opacity: 0;
}
/*第二屏*/
.bokan2{
	background: url(../img/bj-2.png);
	background-size: cover;
	width: 100%;
}
.bokan2 .bokan2_p{
	width: 90%;
	height: 20%;
	background:rgba(255,255,255,0.5);
	margin-left: 5%;
	margin-top: 25%;
}
.bokan2_p span{
	display: block;
}
.bokan2_p_span1{
	color: #f5e102;
	/*font-weight: bolder;*/
	text-align: center;
	font-size: 1.3rem;
	padding-top: 5%;
}
.bokan2_p_span2{
	width: 90%;
	margin-left: 5%;
	padding-top: 3%;
	color: #fff;
	font-size: 1.2rem;
}
.bokan2 img{
	width: 25%;
	opacity: 0;
}
.bokan2_div1{
	margin-left: 10%;
	margin-top: 30%;
}
.bokan2_div1 img:nth-child(2){
	margin-left: 6%;
	/*-webkit-animation:erpingyi 1s 3s ease forwards;*/
}
.bokan2_div1 img:nth-child(3){
	margin-left: 5%;
	/*-webkit-animation:erpingyi 1s 4s ease forwards;*/
}
.bokan2_div1 img:nth-child(4){
	margin-left: 15%;
	margin-top: 6%;
}
.bokan2_div1 img:nth-child(5){
	margin-left: 6%;
	width: 26%
}
@-webkit-keyframes erpingyi{
	0%{
		opacity: 0;
		-webkit-transform: rotateZ(0deg);
	}
	100%{
		opacity: 1;
		-webkit-transform:rotateZ(360deg);
	}
}
/*第三屏*/
.bokan3{
	background: url(../img/bj-3.png) no-repeat;
	background-size: cover;
	width: 100%;
}
/*第四屏*/
.bokan4{
	background: url(../img/bj-4.png) no-repeat;
	background-size: cover;
	width: 100%;
}
.bokan4_p{
	color: #fff;
	font-size: 2.8rem;
	font-weight: normal;
	text-align: center;
	margin-top: 28%;
}
.bokan4_img{
	width: 60%;
	margin-left: 20%;
	margin-top: 38%;
	/*-webkit-animation:bokan4img 3.5s 2s ease linear;*/
}
@-webkit-keyframes bokan4img{
	0%{
		-webkit-transform:rotateZ(0deg) scale(1);
	}
	50%{
		-webkit-transform:rotateZ(360deg) scale(1.5);
	}
	100%{
		-webkit-transform:rotateZ(0deg) scale(1.5);
	}
}
/*第五屏*/
.bokan5{
	background: url(../img/9-bg.jpg) no-repeat;
	background-size: cover;
	width: 100%;
}
.bokan5_img{
	width: 40%;
	margin-left: 30%;
	margin-top: -5%;
}
.bokan5_div{
	color: #fff;
	font-size: 1.4rem;
	width: 80%;
	margin-left: 10%;
	line-height: 2.8rem;
	margin-top: 15%;
}
.bokan6{
	background: url(../img/9-bg.jpg) no-repeat;
	background-size: cover;
	width: 100%;
}
.bokan7{
	background: url(../img/9-bg.jpg) no-repeat;
	background-size: cover;
	width: 100%;
}
.bokan8{
	background: url(../img/9-bg.jpg) no-repeat;
	background-size: cover;
	width: 100%;
}
/*第九屏*/
.bokan9{
	background:#000;
	background-size: cover;
}
.bokan9_img{
	width: 100%;
}
.bokan9_div{
	width: 80%;
	margin-left: 13%;
	margin-top: 4%;
	position: relative;
    z-index: 999;
}
.bokan9_div img:nth-child(even){
	margin-left: 5%;
}
.bokan9_div img{
	width: 40%;
	margin-left: 3%;
	opacity: 0;
}
@-webkit-keyframes bokanjiuimg{
	0%{
		-webkit-transform:rotateY(40deg);
		opacity: 0.2;
	}
	40%{
		-webkit-transform:rotateY(-40deg);
		opacity: 0.4;
	}
	60%{
		-webkit-transform:rotateY(20deg);
		opacity: 0.6;	
	}
	100%{
		-webkit-transform:rotateY(0deg);
		opacity: 1;
	}
}
/*第十屏*/
.bokan10{
	background: url(../img/9-bg.jpg) no-repeat;
	background-size: cover;
	width: 100%;
}
.bokan10_div1{
	color: #fff;
	font-size: 2.8rem;
	margin-left: 7.6%;
	margin-top: 10%;
}
.bokan10_div2{
	color: #fff;
	font-size: 1.5rem;
	width: 88%;
	margin-left: 6%;
	margin-top: 10%;
	line-height: 2.4rem;
	margin-top: 19%;
}
.bokan10_img{
	width: 90%;
	margin-left: 5%;
	margin-top: 10%;
}
/*第十一屏*/
.bokan11{
	background: url(../img/9-bg.jpg) no-repeat;
	background-size: cover;
	width: 100%;
}
.bokan11_div{
	margin-left: 5%;
	width: 100%;
}
.bokan11_div img{
	width: 40%;
	margin-left: 3%;
	margin-top: 3%;
}
/*第十二屏*/
.bokan12{
	background: url(../img/page11.jpg) no-repeat;
	background-size: cover;
	width: 100%;
}
.bokan12_div{
	margin-top: 32%;
}
.bokan12_div img{
	width: 100%;
}
@-webkit-keyframes bokanshierimg{
	0%{-webkit-transform:skew(10deg); opacity:0.2;}
	40%{-webkit-transform:skew(-10deg); opacity:0.4;}
	60%{-webkit-transform:skew(5deg); opacity:0.6;}
	100%{-webkit-transform:skew(0deg); opacity:1;}
}
/*第十三屏*/
.bokan13{
	background: url(../img/9-bg.jpg) no-repeat;
	background-size: cover;
	width: 100%;
}
.bokan13_img1{
	margin-left: 14%;
	margin-top: 10%;
	width: 73%;
}
.bokan13_div1{
	color: #fff;
	font-size: 1.5rem;
	line-height: 2.4rem;
	margin-top: 18%;
	margin-left: 6%;
}
.bokan13_img2{
	margin-top: 35%;
	margin-left: 14%;
	width: 71%;
}
/*音乐按钮*/
.music{
	position: absolute;
	right: 5%;
	top: 3%;
	width: 4rem;
	height: 4rem;
	border:1px solid gray;
	border-radius: 50%;
	z-index: 99999;
}
.music img{
	width: 100%;
	margin-left: -2%;
	/*-webkit-animation:musiczz 5s infinite linear;*/
}
@-webkit-keyframes musiczz{
	0%{-webkit-transform:rotateY(0deg);}
	
	100%{-webkit-transform:rotateY(360deg);}
}
.jiantou{
	position: absolute;
	left: 44%;
	bottom: 8%;
	width: 10%;
	-webkit-animation:jiantoudong 2s infinite linear;
	z-index: 99999;
}
@-webkit-keyframes jiantoudong{
	0%{-webkit-transform:translateY(0);opacity: 0;}
	50%{-webkit-transform:translateY(-25px);opacity: 1;}
	100%{-webkit-transform:translateY(-50px);opacity: 0;}
}